<h2>Profile Information</h2>

<!-- لینک بازگشت به هوم -->
<a href="{% url 'home:home' %}" class="btn btn-primary" style="margin-bottom:10px; display:inline-block;">بازگشت به صفحه اصلی</a>

{% if message %}
  <p style="color:green;">{{ message }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Update Profile</button>
</form>

<hr />

<h2>رزروهای من</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>اتاق</th>
    <th>تاریخ</th>
    <th>وضعیت پرداخت</th>
    <th>عملیات</th>
  </tr>
  {% for r in reservations %}
    <tr>
      <td>{{ r.room_type.name }}</td>
      <td>{{ r.checkin_date }} تا {{ r.checkout_date }}</td>
      <td>
        {% if r.is_paid %}
          پرداخت شده
        {% elif r.is_payment_pending %}
          Pending
        {% else %}
          Expired
        {% endif %}
      </td>
      <td>
        {% if r.is_payment_pending %}
          <a href="{% url 'bookings:pay' r.id %}">پرداخت</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
